.page-content {
    margin: 60px 110px;
    padding: 0px;
}

.page-content-container {
    display: flex;
    flex-direction: row;
    gap: 30px
}

.activities-graphs-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.graphs {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media (min-width: 800px) and (max-width: 1200px) {
    .page-content-container {
        flex-direction: column;
    }

    .graphs {
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
}